In [152]:
import pandas as pd
import numpy as np

In [6]:
list1=[['red','yellow','green']]
pd.Series(data=['apple','banana','mango'],index=[['red','yellow','green']])

red        apple
yellow    banana
green      mango
dtype: object

In [7]:
import random

In [66]:
random.seed(40)
print(random.randint(50,100))
#random.seed(40)
print(random.randint(50,100))

79
87

In [144]:
random.seed()
x=random.random()
random.seed(x)
print(random.random())

0.6966525482461928

In [195]:
df=pd.DataFrame(np.random.rand(5,4),index='a b c d e'.split(),columns='p q r s '.split())
df[['r','s']]

          r         s
a  0.177868  0.612296
b  0.783174  0.925608
c  0.983243  0.380412
d  0.913039  0.286300
e  0.556076  0.562675

In [196]:
type(df['r'])

pandas.core.series.Series

In [201]:
df['t']=np.random.randint(1,11,size=len(df))
df

          p         q         r         s   t
a  0.020155  0.690146  0.177868  0.612296   1
b  0.124773  0.644443  0.783174  0.925608   8
c  0.226587  0.595437  0.983243  0.380412   4
d  0.103998  0.563061  0.913039  0.286300  10
e  0.251474  0.551812  0.556076  0.562675   5

In [213]:
df.drop('e',axis=0)
df

          p         q         r         s   t
a  0.020155  0.690146  0.177868  0.612296   1
b  0.124773  0.644443  0.783174  0.925608   8
c  0.226587  0.595437  0.983243  0.380412   4
d  0.103998  0.563061  0.913039  0.286300  10
e  0.251474  0.551812  0.556076  0.562675   5

In [214]:
df.loc['a']

p    0.020155
q    0.690146
r    0.177868
s    0.612296
t    1.000000
Name: a, dtype: float64

In [224]:
df.iloc[[0],[1]]

          q
a  0.690146

In [227]:
df.loc['a','p']

0.020155193166505048

In [231]:
df.loc[['a','b'],['r','s']]

          r         s
a  0.177868  0.612296
b  0.783174  0.925608

In [233]:
a1=['a','a','a','b','b','b']
a2=[1,2,3,1,2,3]
p=list(zip(a1,a2))
p

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [242]:
df1=pd.DataFrame(np.random.randn(6,2),index=p,columns=['x','y'])
df1

               x         y
(a, 1) -0.922419  0.941637
(a, 2)  0.787167 -0.365964
(a, 3) -0.604073 -0.104936
(b, 1)  0.220713 -0.329352
(b, 2) -0.203747  0.174933
(b, 3)  1.605049 -0.197657