In [6]:
import pandas as pd

In [11]:
df=pd.read_csv("file.csv",header=None,index_col=0,names=["Name","Age"])
df

  Name  Age
0  ABC   20
1  DEF   30
2  GHI   40
3  JKL   50

In [13]:
print(df['Name'])

0    ABC
1    DEF
2    GHI
3    JKL
Name: Name, dtype: object

In [21]:
df1=pd.read_csv("file.csv",usecols=[1,2],header=None,names=["Name","Age"])
df1

  Name  Age
0  ABC   20
1  DEF   30
2  GHI   40
3  JKL   50

In [24]:
df2=pd.read_csv("file1.csv",sep=".",header=None)
df2

   0    1   2
0  0  ABC  20
1  1  DEF  30
2  2  GHI  40
3  3  JKL  50